@charset "utf-8";

* {margin: 0; padding: 0; box-sizing: border-box;}

ul,ol,li {list-style: none;} 

a {color:inherit; text-decoration: none;}

h1,h2,h3,h4,h5,h6 {font-size: inherit; font-weight: normal;}

em {font-style: normal;}

.blind {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; 
overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border: 0; }

img, button, select, option {border: 0;}

button, select, option {color: inherit; background: none;}